:root {
    --nav-height: 70px;
    --search-bar: 40px;
    --icon-size: 25px;
    --color-text: #7D7177;
    --color-pink-darker: #ff7575;
    --color-pink-lighter: #ffe2e2;
    --color-gray-lighter: #f6f6f6;
    --color-white: white;
    --color-footer-link: #737373;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    line-height: 30px;
}
.ct-right {
    float: left;
    margin-top: 100px;
    padding: 50px;
    width: 30%;
}
.ct-left {
    float: left;
    width: 50%;
    padding: 20px;
}
.idformcontact td {
    padding: 10px;
}
.idformcontact input, textarea, button {
    padding: 10px;
    border-radius: 10px; /*bo khung*/
}
button[type=button] {
    padding: 5px;
    background: var(--color-pink-darker);
}
button[type=button]:hover {
    color: var(--color-pink-lighter);
}
span {
    color: rgb(250, 71, 71)
}
.idformcontact input[type=radio] {
    width: 40px;
}
.idformcontact input[type=text], input[type=email] {
    font-size: 1rem;
    border: 1px solid var(--color-text);
    margin: 5px 0;
     width: 320px;
     height: 35px;
}
